* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: 30px;
}

.logo {
    margin-left: 100px;
    width: 30%;
}

nav {
    display: flex;
    width: 40%;
    margin-right: 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

nav ul li,
nav ul li a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 1.3px;
    display: flex;
    align-items: center;
    text-align: center;
}

#login {
    background: hsl(0, 94%, 66%);
    height: 40px;
    text-align: center;
    width: 25%;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 7px;
    outline: none;
}

#login>a {
    color: #fff;
}

/* hero */

.hero {
    display: flex;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.hero-text {
    width: 50%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.hero-text>h1 {
    font-size: 2.5rem;
    font-weight: 100%;
    width: 80%;
    margin-bottom: 30px;
}

.hero-text>p {
    line-height: 1.5;
    height: auto;
    width: 70%;
    color: hsl(229, 8%, 60%);
}

.call-to-action {
    margin-top: 30px;
}

#chrome {
    height: 50px;
    width: 25%;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: hsl(231, 69%, 60%);
    color: #fff;
    font-weight: bold;
}

#firefox {
    height: 50px;
    width: 25%;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: hsl(229, 8%, 60%);
    background: #fff;
    box-shadow: 1px 1px 1px 1px rgb(65, 63, 63);
    font-weight: bold;
    margin-left: 20px;
}

.hero-image {
    position: relative;
    display: flex;
    width: 50%;
    margin-right: 50px;
    height: auto;
}

.hero-image>div {
    background: hsl(231, 69%, 60%);
    height: 350px;
    width: 100%;
    position: absolute;
    z-index: -1;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    left: 30%;
    bottom: -3%;
    overflow: hidden;
}

/* features */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.features-text {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
}

.features-text>h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 30px;
}

.features-text>p {
    line-height: 1.5;
    width: 80%;
    text-align: center;
    color: hsl(229, 8%, 60%);
}

.switcher {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.switcher>li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.switcher>li:hover {
    color: indianred;
}

/* usage */
.usage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    overflow: hidden;
    margin-bottom: 100px;
    height: auto;
    width: 100%;
}

.usage-image {
    position: relative;
    display: flex;
    width: 50%;
    height: auto;
}

.usage-image>img {
    margin-left: 150px;
    position: absolute;
}

.usage-image>div {
    background: hsl(231, 69%, 60%);
    height: 350px;
    width: 90%;
    position: relative;
    z-index: -1;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    overflow: hidden;
    margin-top: 80px;
}

.usage-text {
    width: 40%;
    height: auto;
}

.usage-text>h1 {
    width: 75%;
    color: #222;
}

.usage-text>p {
    margin-top: 30px;
    width: 80%;
    font-size: 1.2rem;
    color: hsl(229, 8%, 60%);
    line-height: 1.5;
}

.usage-text>button {
    margin-top: 30px;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 7px;
    outline: none;
    background: hsl(231, 69%, 60%);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}